<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nthusiast.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.quiz.Result" />
        <activity android:name=".ui.quiz.Quiz" />
        <activity android:name=".ui.dorms.DormProfile" />
        <activity android:name=".ui.messaging.PersonalLanding" />
        <activity android:name=".ui.search.Search" />
        <activity
            android:name=".ui.main.PostCreator"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.login.PasswordReset" />
        <activity
            android:name=".ui.messaging.ProfileMessaging"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.messaging.FeedMessaging"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.profile.ProfilePostView" />
        <activity
            android:name=".ui.profile.UserProfile"
            android:exported="true" />
        <activity android:name=".ui.main.PostView" />
        <activity
            android:name=".ui.dorms.TopicCards"
            android:exported="true" />
        <activity android:name=".ui.login.NewUser" />
        <activity
            android:name=".ui.main.Feed"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageView.Editing" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>